body {
    background-image: url("stardust.png")
    background-color: #ffeef5;
    font-family: "Comic Sans MS", Verdana, Arial;
    margin: 0;
}

.layout {
    display: flex;
    width: 900px;
    margin: auto;
}

/* MENU LATERAL 3D */
.menu {
    width: 200px;
    background: #ffb6c1
    border: 4px outset #ff69b4;
    padding: 15px;
}

.menu h3 {
    text-decoration: center;
    text-shadow: 2px 2px white;
    color: deeppink;
}

.menu a {
    display: block;
    background: #fff0f5;
    margin: 8px 0;
    padding: 6px;
    border: 2px inset pink;
    text-decoration: none;
    color: purple;
    font-weight: bold;
    text-align: center;
}

.menu a: hover {
    background: yellow;
}

.container {
    flex: 1;
    background: white;
    border: 4px ridge hotpink;
    padding: 20px;
}

h1 {
    text-align: center;
    color: deeppink;
    text-shadow: 3px 3px #ffc0cb
}

.box {
    border: 3px dashed pink;
    padding: 15px;
    margin: 20px 0;
    background: #fffafc;
}

.gif {
    display: block;
    margin: 10px auto;
    border: 2px dotted hotpink;
}

footer {
    text-align: center;
    font-size: 12px
    padding: 10px;
}